__pycache__/
*.py[cod]
.env
.env.*
.envrc
*.log
.venv/
app/config.ini
app/token.txt
token.txt
.idea/
.vscode/
*.iml
.mypy_cache/
.ruff_cache/
.pytest_cache/
.coverage
coverage.xml
htmlcov/
tools/protoc-gen-twirpy
